.ec-grid-hcf {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 4fr 2fr;
    grid-template-areas: 
        "header header header"
        "leftSidebar content rightSidebar"
        "footer footer footer";
}

.ec-header {
    grid-area: header;
}

.ec-content {
    grid-area: content;
}

.ec-footer {
    grid-area: footer;
}