@import "../../../node_modules/normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css?family=Assistant&display=swap');
@import "./colors.css";

html {
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
}
/* Button layout for Evolving Coder */

button {
    border-style: outset;
    border-radius: 8px;
    border-width: 2px;
    border-color: var(--ec-bg-color);
    background-color: var(--ec-bg-color);
    padding: 0 .2em;
    margin: .1em 0;
    color: rgb(230, 230, 230);
    font-variant: small-caps;
}

button:hover {
    cursor: pointer;
    color: var(--ec-attention-color);
}

button:active {
    border-style: ridge;
    background-color: #44BBAC;
}

*:focus {
    outline:0;
}

button:disabled {
    background-color:var(--ec-disabled-color);
    cursor: default;
    color: rgb(230, 230, 230);
}
