@import "../../../node_modules/normalize.css/normalize.css";

* {
    color:  rgb(230, 230, 230);
}

body {
    background-color: rgb(50, 50, 70);
}

/* Button layout for Evolving Coder */

button {
    border-style: outset;
    border-color: rgba(50, 50, 70, .4);
    border-radius: 8px;
    border-width: 3px;
    background-color: rgb(65, 65, 85);
    padding: .2em;
    color: rgb(230, 230, 230);
    font-variant: small-caps;
}

button:hover {
    cursor: pointer;
}

button:active {
    border-style: ridge;
}

button:focus {
    outline:0;
}
